body {
  background-color: lightgray;
}

.header {
  color:  white;
  font-family:monospace;
  background-color: rgb(75, 54, 124);
  width: auto;
  padding: 15px 20px 15px 20px;
  margin: auto;
  border-radius: 10px;
}

.title {
    max-width: 400px;
}

.title h1 {
  text-align: left;
}

.title h4 {
  text-align: center;
}

i {
  margin: 5px;
  margin-right: 20px;
}

.container {
  font-family:monospace;
  background-color: rgb(75, 54, 124);
  width: 60%;
  padding: 15px 20px 15px 20px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
}

.buttonRow {
  text-align: center;
}

button {
  background-color: lightgray;
  border: 2px solid rgb(75, 54, 124);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(27,30,33);
  padding: 10px;
  margin: 20px;
  width: 80px;
  font-weight: bolder;
}

.accountRow {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.userObject {
  flex: 1 1 auto;
  color: white;
  background-color: gray;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 140px;
  box-shadow: 2px 2px 5px rgb(27,30,33);
}

a {
  text-decoration: none;
  margin: 20px;

}

a h2 {
  font-weight: bolder;
  color: rgb(75, 54, 124);
  font-size: 24;
}

h2 {
  color: black;
}

.noStream {
  color: red;
}

.noUser {
  color: black;
}
.yesStream {
  color: green;
}

.userName {
  width: 150px;
  margin: 20px;
}

.userLogo {
  width: 100px;
  height: 100px;
  margin: 20px;
}
